.productName {
  position: relative;
  top: 250px;
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
}

.productDescription {
  position: absolute;
  top: 300px;

  font-size: 30px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.productPrice {
  position: absolute;
  top: 350px;
  font-size: 35px;
  font-family: 'Courier New', Courier, monospace;
}

.productContainer {
  position: relative; /* Add relative positioning to the container */
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center horizontally */
  align-items: stretch; /* Center vertically */
}

.productInfo {
  position: relative;
  left: 20%;
  white-space: nowrap;
}

.productCard {
  position: absolute;
  display: inline;
  top: 250px;
  left: 15%;
  background: rgb(197, 196, 196);
  width: 400px;
  height: 500px;
  padding: 3rem;
}

.productImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
}

.sizes {
  position: absolute;
  top: 400px;
  width: 200px;
}

.button {
  position: absolute;
  top: 480px;
  width: 199px;
  height: 50px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s;
}

.button:hover {
  background-color: grey;
}
