.productName {
  position: absolute;
  top: 15%;
  left: 60%;
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
}

.productDescription {
  position: absolute;
  top: 18%;
  left: 60%;
  font-size: 35px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.productPrice {
  position: absolute;
  top: 21%;
  left: 60%;
  font-size: 35px;
  font-family: 'Courier New', Courier, monospace;
}
