.productName {
  position: fixed;
  top: 250px;
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
}

.productDescription {
  position: fixed;
  top: 300px;

  font-size: 30px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.productPrice {
  position: fixed;
  top: 350px;
  font-size: 35px;
  font-family: 'Courier New', Courier, monospace;
}

.productInfo {
  position: fixed;
  display: flex;
  top: 70px;
  justify-content: center;
  flex-flow: row-reverse;
  right: 20%;
  white-space: nowrap;
}

/* use :hover selector for the hovering effect */

.productCard {
  position: absolute;
  display: flex;
  top: 250px;
  left: 15%;
  right: 15%;
  box-sizing: border-box;
  border: 5px solid;
  border-radius: 5px;
  background: rgb(228, 229, 244);
  width: 400px;
  height: 500px;
  padding: 3rem;
}

.productImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  max-width: 350px;
}

.sizes {
  position: fixed;
  top: 400px;
  width: 200px;
}

.button {
  position: fixed;
  top: 480px;
  width: 199px;
  height: 50px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s;
}

.button:hover {
  background-color: grey;
}

@media screen and (max-width: 1000px) {
  .productInfo {
    margin-top: 20px;
  }

  .view-container {
    display: grid;
  }

  .productCard {
    background-color: lightblue;
  }
}
