.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartItem {
  width: 700px;
  height: 250px;
  display: flex;

  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
}

.cartItem img {
  width: 200px;
}

.cartItem .description {
  width: 100%;
  font-size: 30px;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
}

.checkout button {
  width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}

.CheckoutButton {
  display: block;
  margin: 20px auto; /* Adjust margin for positioning */
  padding: 10px 20px; /* Adjust padding for size */
  background-color: #f0a500; /* Orange background color */
  color: #fff; /* Text color */
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.CheckoutButton:hover {
  background-color: #e09300; /* Darker shade of orange on hover */
}
