.navbar {
  position: sticky;
  width: 100%;
  height: 80px;
  background-color: black;
}

.shopping-cart-button {
  font-size: x-large;
  border-radius: 0px;
}

.logout-button {
  font-size: x-large;
  border-radius: 0px;
  margin-right: 15px;
}

.filter-selection-button {
  margin-left: 15px;
  font-size: x-large;
  border-radius: 0px;
}

.shop-name {
  color: #f6f5f4;
  font-size: 30px;
  position: absolute;
  margin-top: 10px;
  margin-right: auto;
  left: 50%;
  transform: translateX(-50%);
}
