.navbar {
  position: sticky;
  display: flex;
  width: 100%;
  height: 80px;
  background-color: black;
  transition: height 0.5s;
}

.buttonGroup {
  display: flex;
  gap: 10px;
}

.shopping-cart-button {
  font-size: x-large;
  border-radius: 0px;
  width: 130px;
}

.logout-button {
  font-size: x-large;
  size: large;
  border-radius: 0px;
  margin-right: 15px;
  width: 130px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.filter-selection-button {
  margin-left: 15px;
  font-size: x-large;
  border-radius: 0px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.shop-name {
  color: #f6f5f4;
  font-size: 30px;
  position: absolute;
  margin-top: 10px;
  margin-right: auto;
  left: 50%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  transform: translateX(-50%);
}

.navbar-tabs {
  display: flex;
  width: 100vw;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.tab-link {
  flex: 1;
  text-decoration: none;
}

.tabButton {
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  color: black;
  background-color: #f6f5f4;
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.tabButton:hover {
  background-color: burlywood;
}

@media screen and (max-width: 1000px) {
  .buttonGroup {
    display: grid;
    transition: 0.5s;
  }

  .navbar {
    height: 150px;
  }
}
